/* div class */
/* div.xxx { } */

/* div id */
/* div#id.xxx { } */

/* tag */
pre {
    overflow-x: scroll;
}

pre code {
    white-space: pre;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.nobreak {
    white-space: pre !important;
}

.caption {
    text-align: center;
    margin-top: 2px;
    font-size: 0.9rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.post-content figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 36px auto;
}

div.sourceCode {
    background: #f5f5f5;
}
